{
  "env": {
    "node": true,
    "browser": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "global": true,
    "document": true,
    "React": "writable"
  },
  "extends": ["eslint:recommended", "plugin:react-hooks/recommended", "airbnb", "prettier"],

  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "requireConfigFile": false
  },
  "plugins": ["react", "react-hooks"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/display-name": [0, { "ignoreTranspilerName": true }],
    "no-console": ["warn"],
    "max-len": ["warn", 120],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-body-style": ["error", "always"],
    "object-curly-newline": "off",
    "comma-dangle": ["error", "only-multiline"],
    "linebreak-style": "off",
    "operator-linebreak": ["off"],
    "no-param-reassign": 0,
    "template-curly-spacing": "off",
    "indent": "off",
    "camelcase": ["error", { "properties": "never" }],
    "import/no-cycle": [0],
    "react/function-component-definition":["off"],
    "import/prefer-default-export": "off",
  }
}
